<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.field.FieldCateMapper">
    <select id="queryCateList" resultType="com.jk.model.liangh.advertising.CategoryBean">
          SELECT
        qac.categoryname,
        qac.alias,
        qac.ad_num,
        qac.theme,
        qac.org
    FROM
        qs_ad_category qac

    </select>
</mapper>