<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.personal.PersonalMapper" >

    <!-- 订单表分页条查总条数 -->
    <select id="queryshowcount" parameterType="com.jk.model.personal.PersonalOrderBean" resultType="long">
        select count(*) from qs_order o LEFT join qs_members m on m.uid=o.uid
        <include refid="orderWhere"></include>
    </select>
    <!-- 订单表分页条查 -->
    <select id="queryshow" resultType="com.jk.model.personal.PersonalOrderBean" parameterType="com.jk.model.personal.PersonalOrderBean">
        select o.id,o.amount,o.notes,o.oid,o.addtime,o.payment_time,o.pay_type,o.is_paid,o.order_type,o.uid,m.username from qs_order o LEFT join qs_members m on m.uid=o.uid
        <include refid="orderWhere"></include>
        LIMIT #{start},#{personalOrderBean.rows}
    </select>
    <!-- 订单表分页条查公共sql语句 -->
    <sql id="orderWhere">
        <where>
            <if test="personalOrderBean.is_paid != null and personalOrderBean.is_paid != -1">
                and o.is_paid =#{personalOrderBean.is_paid}
            </if>
            <if test="personalOrderBean.pay_type != null and personalOrderBean.pay_type != -1">
                and o.pay_type =#{personalOrderBean.pay_type}
            </if>
            <if test="personalOrderBean.order_type != null and personalOrderBean.order_type != -1">
                and o.order_type =#{personalOrderBean.order_type}
            </if>
            <if test="personalOrderBean.addtime != null and personalOrderBean.addtime != -1">

                <if test="personalOrderBean.addtime ==1">
                    and o.payment_time &lt;=sysdate() and o.payment_time >=adddate(sysdate(),-3)
                </if>
                <if test="personalOrderBean.addtime ==2">
                    and o.payment_time &lt;=sysdate() and o.payment_time >=adddate(sysdate(),-7)
                </if>
                <if test="personalOrderBean.addtime ==3">
                    and o.payment_time &lt;=sysdate() and o.payment_time >=adddate(sysdate(),-30)
                </if>
                <if test="personalOrderBean.addtime ==4">
                    and o.payment_time &lt;=sysdate() and o.payment_time >=adddate(sysdate(),-183)
                </if>
                <if test="personalOrderBean.addtime ==5">
                    and o.payment_time &lt;=sysdate() and o.payment_time >=adddate(sysdate(),-365)
                </if>

            </if>

            <if test="personalOrderBean.username != null and personalOrderBean.username != ''">
                and m.username like '%${personalOrderBean.username}%' or o.oid like '%${personalOrderBean.username}%'
            </if>
        </where>
    </sql>

    <!-- 个人订单管理批量修改订单状态为已取消 -->
    <update id="updatestate" parameterType="Integer">
        UPDATE qs_order set is_paid=3 where id in
        <foreach collection="array" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>


    <!-- 个人简历列表条查分页总条数 -->
    <select id="queryresumeshowcount" parameterType="com.jk.model.personal.ResumeBean" resultType="long">
        SELECT count(*) from qs_resume r
        <include refid="resumeWhere"></include>
    </select>
    <!-- 个人简历列表条查分页 -->
    <select id="queryresumeshow" resultType="com.jk.model.personal.ResumeBean" parameterType="com.jk.model.personal.ResumeBean">
        SELECT r.id,r.uid,r.residence,r.telephone,r.display,r.audit,r.title,r.fullname,r.photo,r.photo_img,r.photo_audit,r.addtime,r.refreshtime,r.stime,r.complete_percent,r.current from qs_resume r
        <include refid="resumeWhere"></include>
        LIMIT #{start},5
    </select>
    <!-- 个人简历列表条查分页公共sql语句 -->
    <sql id="resumeWhere">
        <where>
            <if test="resumeBean.display != null and resumeBean.display != -1">
                and r.display =#{resumeBean.display}
            </if>
            <if test="resumeBean.audit != null and resumeBean.audit != -1">
                and r.audit =#{resumeBean.audit}
            </if>
            <if test="resumeBean.photo != null and resumeBean.photo != -1">
                and r.photo =#{resumeBean.photo}
            </if>
            <if test="resumeBean.photo_audit != null and resumeBean.photo_audit != -1">
                and r.photo_audit =#{resumeBean.photo_audit}
            </if>
            <if test="resumeBean.addtime != null and resumeBean.addtime != -1">

                <if test="resumeBean.addtime ==1">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-3)
                </if>
                <if test="resumeBean.addtime ==2">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-7)
                </if>
                <if test="resumeBean.addtime ==3">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-30)
                </if>
            </if>
            <if test="resumeBean.refreshtime != null and resumeBean.refreshtime != -1">

                <if test="resumeBean.refreshtime ==1">
                    and r.current &lt;=sysdate() and r.current >=adddate(sysdate(),-3)
                </if>
                <if test="resumeBean.refreshtime ==2">
                    and r.current &lt;=sysdate() and r.current >=adddate(sysdate(),-7)
                </if>
                <if test="resumeBean.refreshtime ==3">
                    and r.current &lt;=sysdate() and r.current >=adddate(sysdate(),-30)
                </if>
            </if>
            <if test="resumeBean.fullname != null and resumeBean.fullname != ''">
                and r.fullname like '%${resumeBean.fullname}%' or r.id like '%${resumeBean.fullname}%' or r.uid like '%${resumeBean.fullname}%' or r.residence like '%${resumeBean.fullname}%' or r.telephone  like '%${resumeBean.fullname}%'
            </if>

                and r.photo =1
        </where>

        <if test="resumeBean.sort != null and resumeBean.sort != -1">

            <if test="resumeBean.sort ==1">
                order by r.stime desc
            </if>
            <if test="resumeBean.sort ==2">
                order by r.current desc
            </if>

        </if>
    </sql>

    <!-- 个人简历照片列表条查分页总条数 -->
    <select id="queryresumephotoshowcount" parameterType="com.jk.model.personal.ResumeBean" resultType="long">
        SELECT count(*) from qs_resume r
        <include refid="resumephotoWhere"></include>
    </select>
    <!-- 个人简历照片列表条查分页 -->
    <select id="queryresumephotoshow" resultType="com.jk.model.personal.ResumeBean" parameterType="com.jk.model.personal.ResumeBean">
        SELECT r.id,r.uid,r.residence,r.telephone,r.display,r.audit,r.title,r.fullname,r.photo,r.photo_img,r.photo_audit,r.addtime,r.refreshtime,r.stime,r.complete_percent,r.current from qs_resume r
        <include refid="resumephotoWhere"></include>
        LIMIT #{start},5
    </select>
    <!-- 个人简历照片列表条查分页公共sql语句 -->
    <sql id="resumephotoWhere">
        <where>
            <if test="resumeBean.display != null and resumeBean.display != -1">
                and r.display =#{resumeBean.display}
            </if>
            <if test="resumeBean.audit != null and resumeBean.audit != -1">
                and r.audit =#{resumeBean.audit}
            </if>
            <if test="resumeBean.photo != null and resumeBean.photo != -1">
                and r.photo =#{resumeBean.photo}
            </if>
            <if test="resumeBean.photo_audit != null and resumeBean.photo_audit != -1">
                and r.photo_audit =#{resumeBean.photo_audit}
            </if>
            <if test="resumeBean.addtime != null and resumeBean.addtime != -1">

                <if test="resumeBean.addtime ==1">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-3)
                </if>
                <if test="resumeBean.addtime ==2">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-7)
                </if>
                <if test="resumeBean.addtime ==3">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-30)
                </if>
            </if>
            <if test="resumeBean.refreshtime != null and resumeBean.refreshtime != -1">

                <if test="resumeBean.refreshtime ==1">
                    and r.current &lt;=sysdate() and r.current >=adddate(sysdate(),-3)
                </if>
                <if test="resumeBean.refreshtime ==2">
                    and r.current &lt;=sysdate() and r.current >=adddate(sysdate(),-7)
                </if>
                <if test="resumeBean.refreshtime ==3">
                    and r.current &lt;=sysdate() and r.current >=adddate(sysdate(),-30)
                </if>
            </if>
            <if test="resumeBean.fullname != null and resumeBean.fullname != ''">
                and r.fullname like '%${resumeBean.fullname}%' or r.id like '%${resumeBean.fullname}%' or r.uid like '%${resumeBean.fullname}%' or r.residence like '%${resumeBean.fullname}%' or r.telephone  like '%${resumeBean.fullname}%'
            </if>

            and r.photo =0
        </where>

        <if test="resumeBean.sort != null and resumeBean.sort != -1">

            <if test="resumeBean.sort ==1">
                order by r.stime desc
            </if>
            <if test="resumeBean.sort ==2">
                order by r.current desc
            </if>

        </if>
    </sql>


    <!-- 个人简历列表批量修改审核状态为已审核 -->
    <update id="updateauditstate" parameterType="Integer">
        UPDATE qs_resume set audit=2 where id in
        <foreach collection="array" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 个人简历列表照片批量修改审核状态为已审核 -->
    <update id="updatephotoauditstate" parameterType="Integer">
        UPDATE qs_resume set photo_audit=2 where id in
        <foreach collection="array" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 个人简历列表批量删除 -->
    <delete id="deleteresume" parameterType="Integer">
        delete from qs_resume where id in
        <foreach collection="array" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


    <!-- 个人会员列表条查分页总条数 -->
    <select id="querymembersshowcount" parameterType="com.jk.model.personal.MembersBean" resultType="long">
        SELECT count(*) from qs_members m
        <include refid="membersWhere"></include>
    </select>
    <!-- 个人会员列表条查分页 -->
    <select id="querymembersshow" resultType="com.jk.model.personal.MembersBean" parameterType="com.jk.model.personal.MembersBean">
        SELECT m.uid,m.username,m.email,m.mobile,m.reg_time,m.last_login_time from qs_members m
        <include refid="membersWhere"></include>
        LIMIT #{start},5
    </select>
    <!-- 个人会员列表条查分页公共sql语句 -->
    <sql id="membersWhere">
        <where>

            <if test="membersBean.rtime != null and membersBean.rtime != -1">

                <if test="membersBean.rtime ==1">
                    and m.reg_time &lt;=sysdate() and m.reg_time >=adddate(sysdate(),-3)
                </if>
                <if test="membersBean.rtime ==2">
                    and m.reg_time &lt;=sysdate() and m.reg_time >=adddate(sysdate(),-7)
                </if>
                <if test="membersBean.rtime ==3">
                    and m.reg_time &lt;=sysdate() and m.reg_time >=adddate(sysdate(),-30)
                </if>
                <if test="membersBean.rtime ==4">
                    and m.reg_time &lt;=sysdate() and m.reg_time >=adddate(sysdate(),-183)
                </if>
                <if test="membersBean.rtime ==5">
                    and m.reg_time &lt;=sysdate() and m.reg_time >=adddate(sysdate(),-365)
                </if>

            </if>

            <if test="membersBean.username != null and membersBean.username != ''">
                and m.username like '%${membersBean.username}%' or m.uid like '%${membersBean.username}%' or m.email like '%${membersBean.username}%' or m.mobile like '%${membersBean.username}%'
            </if>
        </where>

    </sql>
    <!-- 个人会员列表新增 -->
    <insert id="membersadd" parameterType="com.jk.model.personal.MembersBean">
        INSERT into qs_members (username,email,mobile,reg_time,last_login_time) VALUES (#{username},#{email},#{mobile},#{reg_time},#{last_login_time})
    </insert>


    <!-- 个人会员列表批量删除 -->
    <delete id="deletemembers" parameterType="Integer">
        delete from qs_members where uid in
        <foreach collection="array" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


    <!-- 个人解绑列表条查分页总条数 -->
    <select id="queryuntyingshowcount" parameterType="com.jk.model.personal.UntyingBean" resultType="long">
        SELECT count(*) from x_untying u left join qs_members m on u.uid=m.uid
        <include refid="untyingWhere"></include>
    </select>
    <!-- 个人解绑列表条查分页 -->
    <select id="queryuntyingshow" resultType="com.jk.model.personal.UntyingBean" parameterType="com.jk.model.personal.UntyingBean">
        SELECT u.untyingid,u.untyingnum,u.untyingtime,u.remarks,u.uid,m.username from x_untying u left join qs_members m on u.uid=m.uid
        <include refid="untyingWhere"></include>
        LIMIT #{start},5
    </select>
    <!-- 个人解绑列表条查分页公共sql语句 -->
    <sql id="untyingWhere">
        <where>

            <if test="untyingBean.untytime != null and untyingBean.untytime != -1">

                <if test="untyingBean.untytime ==1">
                    and u.untyingtime &lt;=sysdate() and u.untyingtime >=adddate(sysdate(),-3)
                </if>
                <if test="untyingBean.untytime ==2">
                    and u.untyingtime &lt;=sysdate() and u.untyingtime >=adddate(sysdate(),-7)
                </if>
                <if test="untyingBean.untytime ==3">
                    and u.untyingtime &lt;=sysdate() and u.untyingtime >=adddate(sysdate(),-30)
                </if>
                <if test="untyingBean.untytime ==4">
                    and u.untyingtime &lt;=sysdate() and u.untyingtime >=adddate(sysdate(),-183)
                </if>
                <if test="untyingBean.untytime ==5">
                    and u.untyingtime &lt;=sysdate() and u.untyingtime >=adddate(sysdate(),-365)
                </if>

            </if>

            <if test="untyingBean.username != null and untyingBean.username != ''">
                and m.username like '%${untyingBean.username}%' or u.uid like '%${untyingBean.username}%' or u.untyingnum like '%${untyingBean.username}%'
            </if>
        </where>

    </sql>

    <!-- 个人解绑列表备注修改 -->
    <update id="untyingupdate" parameterType="com.jk.model.personal.UntyingBean">
        UPDATE x_untying set remarks=#{remarks} where untyingid=#{untyingid}
    </update>


    <!-- 个人解绑列表批量删除 -->
    <delete id="deleteuntying" parameterType="Integer">
        delete from x_untying where untyingid in
        <foreach collection="array" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- 个人解绑列表备注回显 -->
    <select id="untyinghuixian" parameterType="Integer" resultType="com.jk.model.personal.UntyingBean">
        select * from  x_untying u where untyingid=#{untyingid}
    </select>


    <!-- 个人附件列表条查分页总条数 -->
    <select id="queryfujianshowcount" parameterType="com.jk.model.personal.ResumeBean" resultType="long">
        SELECT count(*) from qs_resume r
        <include refid="fujianWhere"></include>

    </select>
    <!-- 个人附件列表条查分页 -->
    <select id="queryfujianshow" resultType="com.jk.model.personal.ResumeBean" parameterType="com.jk.model.personal.ResumeBean">
        SELECT r.id,r.stime,r.title,r.fullname,r.tpl,r.def,r.comment_content from qs_resume r
        <include refid="fujianWhere"></include>

        LIMIT #{start},5
    </select>
    <!-- 个人附件列表条查分页公共sql语句 -->
    <sql id="fujianWhere">
        <where>

            <if test="resumeBean.def != null and resumeBean.def != -1">
                and r.def =#{resumeBean.def}
            </if>
            <if test="resumeBean.addtime != null and resumeBean.addtime != -1">

                <if test="resumeBean.addtime ==1">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-3)
                </if>
                <if test="resumeBean.addtime ==2">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-7)
                </if>
                <if test="resumeBean.addtime ==3">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-30)
                </if>
                <if test="resumeBean.addtime ==4">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-90)
                </if>
            </if>
            <if test="resumeBean.title != null and resumeBean.title != ''">
                and r.title like '%${resumeBean.title}%' or r.fullname like '%${resumeBean.title}%' or r.id like '%${resumeBean.title}%' or r.comment_content like '%${resumeBean.title}%'
            </if>

            and r.tpl is not null and r.tpl!=""

        </where>
    </sql>


    <!-- 个人附件列表批量修改审核状态为已审核 -->
    <update id="updatefujianstate" parameterType="Integer">
        UPDATE qs_resume set def=2 where id in
        <foreach collection="array" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>