<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.personal.PersonalMapper" >

    <!-- 订单表分页条查总条数 -->
    <select id="queryshowcount" parameterType="com.jk.model.personal.PersonalOrderBean" resultType="long">
        select count(*) from qs_order o LEFT join qs_members m on m.uid=o.uid
        <include refid="orderWhere"></include>
    </select>
    <!-- 订单表分页条查 -->
    <select id="queryshow" resultType="com.jk.model.personal.PersonalOrderBean">
        select o.id,o.amount,o.notes,o.oid,o.addtime,o.payment_time,o.pay_type,o.is_paid,o.order_type,o.uid,m.username from qs_order o LEFT join qs_members m on m.uid=o.uid
        <include refid="orderWhere"></include>
        LIMIT #{start},#{rows}
    </select>
    <!-- 订单表分页条查公共sql语句 -->
    <sql id="orderWhere">
        <where>
            <if test="personalOrderBean.is_paid != null and personalOrderBean.is_paid != -1">
                and o.is_paid =#{personalOrderBean.is_paid}
            </if>
            <if test="personalOrderBean.pay_type != null and personalOrderBean.pay_type != -1">
                and o.pay_type =#{personalOrderBean.pay_type}
            </if>
            <if test="personalOrderBean.order_type != null and personalOrderBean.order_type != -1">
                and o.order_type =#{personalOrderBean.order_type}
            </if>
            <if test="personalOrderBean.addtime != null and personalOrderBean.addtime != -1">

                <if test="personalOrderBean.addtime ==1">
                    and o.payment_time &lt;=sysdate() and o.payment_time >=adddate(sysdate(),-3)
                </if>
                <if test="personalOrderBean.addtime ==2">
                    and o.payment_time &lt;=sysdate() and o.payment_time >=adddate(sysdate(),-7)
                </if>
                <if test="personalOrderBean.addtime ==3">
                    and o.payment_time &lt;=sysdate() and o.payment_time >=adddate(sysdate(),-30)
                </if>
                <if test="personalOrderBean.addtime ==4">
                    and o.payment_time &lt;=sysdate() and o.payment_time >=adddate(sysdate(),-183)
                </if>
                <if test="personalOrderBean.addtime ==5">
                    and o.payment_time &lt;=sysdate() and o.payment_time >=adddate(sysdate(),-365)
                </if>

            </if>

            <if test="personalOrderBean.username != null and personalOrderBean.username != ''">
                and m.username like '%${personalOrderBean.username}%' or o.oid like '%${personalOrderBean.username}%'
            </if>
        </where>
    </sql>

    <!-- 个人订单管理批量修改订单状态为已取消 -->
    <update id="updatestate" parameterType="Integer">
        UPDATE qs_order set is_paid=#{is_paid} where id in
        <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>


    <!-- 个人简历列表条查分页总条数 -->
    <select id="queryresumeshowcount" parameterType="com.jk.model.personal.ResumeBean" resultType="long">
        SELECT count(*) from qs_resume r
        <include refid="resumeWhere"></include>
    </select>
    <!-- 个人简历列表条查分页 -->
    <select id="queryresumeshow" resultType="com.jk.model.personal.ResumeBean">
        SELECT r.id,r.uid,r.residence,r.telephone,r.display,r.audit,r.title,r.fullname,r.photo,r.photo_img,r.photo_audit,r.addtime,r.refreshtime,r.stime,r.complete_percent,r.current from qs_resume r
        <include refid="resumeWhere"></include>
        LIMIT #{start},#{rows}
    </select>
    <!-- 个人简历列表条查分页公共sql语句 -->
    <sql id="resumeWhere">
        <where>
            <if test="resumeBean.display != null and resumeBean.display != -1">
                and r.display =#{resumeBean.display}
            </if>
            <if test="resumeBean.audit != null and resumeBean.audit != -1">
                and r.audit =#{resumeBean.audit}
            </if>
            <if test="resumeBean.photo != null and resumeBean.photo != -1">
                and r.photo =#{resumeBean.photo}
            </if>
            <if test="resumeBean.photo_audit != null and resumeBean.photo_audit != -1">
                and r.photo_audit =#{resumeBean.photo_audit}
            </if>
            <if test="resumeBean.addtime != null and resumeBean.addtime != -1">

                <if test="resumeBean.addtime ==1">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-3)
                </if>
                <if test="resumeBean.addtime ==2">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-7)
                </if>
                <if test="resumeBean.addtime ==3">
                    and r.stime &lt;=sysdate() and r.stime >=adddate(sysdate(),-30)
                </if>
            </if>
            <if test="resumeBean.refreshtime != null and resumeBean.refreshtime != -1">

                <if test="resumeBean.refreshtime ==1">
                    and r.current &lt;=sysdate() and r.current >=adddate(sysdate(),-3)
                </if>
                <if test="resumeBean.refreshtime ==2">
                    and r.current &lt;=sysdate() and r.current >=adddate(sysdate(),-7)
                </if>
                <if test="resumeBean.refreshtime ==3">
                    and r.current &lt;=sysdate() and r.current >=adddate(sysdate(),-30)
                </if>
            </if>
            <if test="resumeBean.fullname != null and resumeBean.fullname != ''">
                and r.fullname like '%${resumeBean.fullname}%' or r.id like '%${resumeBean.fullname}%' or r.uid like '%${resumeBean.fullname}%' or r.residence like '%${resumeBean.fullname}%' or r.telephone  like '%${resumeBean.fullname}%'
            </if>


        </where>

        <if test="resumeBean.sort != null and resumeBean.sort != -1">

            <if test="resumeBean.sort ==1">
                order by r.stime desc
            </if>
            <if test="resumeBean.sort ==2">
                order by r.current desc
            </if>

        </if>
    </sql>


    <!-- 个人简历列表批量修改审核状态为已审核 -->
    <update id="updateauditstate" parameterType="Integer">
        UPDATE qs_resume set audit=#{audit} where id in
        <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 个人简历列表照片批量修改审核状态为已审核 -->
    <update id="updatephotoauditstate" parameterType="Integer">
        UPDATE qs_resume set photo_audit=#{photo_audit} where id in
        <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 个人简历列表批量删除 -->
    <delete id="deleteresume" parameterType="Integer">
        delete from qs_resume where id in
        <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>